* {
    margin:0;
}

body {
    background-image: url("http://static1.squarespace.com/static/54db81f8e4b04dcca5fe425f/t/54f512b1e4b08fac2cece5e5/1425347284303/Crime+Scene.jpg?format=1500w");
    margin: 10px;
    padding: 10px;
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
}

h5 {
    text-align:center;
    color: white;
}

div.transbox {
    width: 50%
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.5;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000004;
}

#header {
    width: 100%;
    height:10px;
}

#container {
    width: 700px;
    margin: auto;
}

#first {
    width:450px;   
    background-color: white;
    height:450px;
    float:left; 
}

#second {
    width: 230px;
    padding:10px;
    background-color:#eaeefa;
    height: 430px;
    float:left;
}

#clear {
    clear: both;
}

#footer {
    padding:15px;
    color:white;
    text-align: center;
}
          
