#home{
    -fx-background-image: url("http://fractalartgallery.com/wp-content/uploads/2016/05/leather-formal-dining-room-set.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1353 900;
    -fx-background-position: center center;
}
#inventory{
    -fx-background-image: url("http://andywindak.com/wp-content/uploads/2013/07/2525252.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 2400 1600;
    -fx-background-position: center center;
}
#guests{
    -fx-background-image: url("http://eye-swoon.com/wp-content/uploads/2014/08/Cointreau_La_Maison_Bar_Amagansett_summer_evening_dinner_party_cocktails_entertaining_inspiration_chef_Jeff_Schwarz_tablescape_outdoor_setting_flowers_herbs_rustic_moroccan_rugs_string_lights_Winnie_Au_photography-33.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1400 934;
    -fx-background-position: center center;
}