<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Crimes 'R' Us</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='crime_script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>    
</head>
<body background="http://static1.squarespace.com/static/54db81f8e4b04dcca5fe425f/t/54f512b1e4b08fac2cece5e5/1425347284303/Crime+Scene.jpg?format=1500w">
    <h1> CRIMES 'R' US </h1>
        <div class="transbox">
            <p><font size="5">Select the crime, year, and location you'd like to know more about from the dropdown menus below, then click the Learn! button to learn more.</p>
        </div>
    <center>
    <!-- these are the three dropdown menus and the select button-->
    <select id="crimes">
  	   	<option value="violent_crime">Violent Crime</option>
  	  	<option value="murder">Murder</option>
  	  	<option value="rape">Rape</option>
  	  	<option value="robbery">Robbery</option>
  	  	<option value="aggravated_assault">Aggravated Assault</option>
  	  	<option value="property_crime">Property Crime</option>
  	  	<option value="burglary">Burglary</option>
  	  	<option value="larceny_theft">Larceny Theft</option>
  	  	<option value="motor_theft">Motor Theft</option>
	</select>
	<select id="year">
  	   	<option value="all_years">All Years</option>
  	  	<option value="2005">2005</option>
  	  	<option value="2006">2006</option>
  	  	<option value="2007">2007</option>
  	  	<option value="2008">2008</option>
  	  	<option value="2009">2009</option>
  	  	<option value="2010">2010</option>
  	  	<option value="2011">2011</option>
  	  	<option value="2012">2012</option>
  	  	<option value="2013">2013</option>
  	  	<option value="2014">2014</option>
	</select>
	<select id="region">
  	   	<option value="all_regions">All Regions</option>
  	  	<option value="1">Northeast</option>
  	  	<option value="2">Midwest</option>
  	  	<option value="3">South</option>
  	  	<option value="4">West</option>
	</select>
    <button id="button" onclick="loadData()">Learn!</button>
    <!-- this is the container for the information presentation box-->
    <div id="header"></div>
    <div id="container">
        <div id="first">
            <canvas id="c" width="500" height="500"></canvas>
            <p align="center" id="results_chart"><font size="5"></p>
        </div>
        <div id="second">
            <p align="center" id="results_str"><font size="5"></p>
            <p align="center" id="results_str2"><font size="4"></p> 
        </div>
        <div id="clear"></div>
    </div>
    <!--footer-->
    <div id="footer" align="center">
        <h5>Kirsten Baker & Zack Considine, created for CS257 Spring 2016. Thanks to FBI Crime Statistics for the data!</h5>
    </div>
</center>
</body>
</html>
